<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woneva.basecell0416"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_SMS" >
    </uses-permission>

    <!-- name此行新添加 -->
    <application
        android:name="com.woneva.woneva.WonEvaApp"   
        android:allowBackup="true"
        android:icon="@drawable/zoom"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.woneva.basecell0416.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.woneva.Other.LoginActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.woneva.wifiInfo.WifiDealer"
            android:label="启动WIFI" >
        </activity>
        <activity
            android:name="com.woneva.textmessage.SendMessageActivity"
            android:label="@string/app_name" >
        </activity>

        <service android:name="com.woneva.textmessage.SmsBlockService" >
        </service>

        <activity
            android:name="com.woneva.gridview.MyGridView"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.woneva.gridview.MyMainGridView"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.woneva.Other.RegisterActivity"
            android:label="用户注册" >
        </activity>
        <activity
            android:name="com.woneva.Other.ExitActivity"
            android:label="用户退出" >
        </activity>
        <activity
            android:name="com.woneva.woneva.ClassStudentList"
            android:label="学生列表" >
        </activity>
        <activity
            android:name="com.woneva.woneva.CurrentLocationActivity"
            android:label="当前位置" >
        </activity>
        <activity
            android:name="com.woneva.basecell0416.AddClass"
            android:label="添加课程" >
        </activity>
        <activity
            android:name="com.woneva.basecell0416.AllClass"
            android:label="查看所有" >
        </activity>
        <activity
            android:name="com.woneva.basecell0416.ModifyClass"
            android:label="修改信息" >
        </activity>
    </application>

</manifest>